<<<<<<< HEAD

=======
>>>>>>> 5ee182e044cfd86142ecdd7fd6c7aa404e1574bc
<section id="all-course-page">
    <article class="all-course-title">
        <h1>All Courses</h1>
    </article>

<<<<<<< HEAD
    <!--If there are course in the database, show each one-->
    {{#each courses}}
    <article class="all-course-card">
        <article class="all-course-card-image">
            <!-- Do not forget to change the path to the image -->
=======
    {{#each courses}}
    <article class="all-course-card">
        <article class="all-course-card-image">
>>>>>>> 5ee182e044cfd86142ecdd7fd6c7aa404e1574bc
            <img src="{{image}}">
        </article>

        <article class="all-course-card-content">
            <h2>{{title}}</h2>
            <h3>Type: {{type}}</h3>
            <h3>Price: €{{price}}</h3>
        </article>

        <article class="all-course-card-buttons">
            <a href="/courses/{{_id}}/details" class="btn-details">Details</a>
        </article>
    </article>
    {{else}}
<<<<<<< HEAD
  <article class="not-available-courses">
=======
     <article class="not-available-courses">
>>>>>>> 5ee182e044cfd86142ecdd7fd6c7aa404e1574bc
        <h1>No course created yet.</h1>
    </article> 
    {{/each}}

<<<<<<< HEAD
   
   

</section>
=======
</section>


>>>>>>> 5ee182e044cfd86142ecdd7fd6c7aa404e1574bc
